---
layout: default
---

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <h1 class="card-title">Canal DevOps</h1>
                <p>
                    {{ site.description }}
                </p>
                <p>
                    O principal objetivo do canal é dar aos autores a oportunidade de contribuir com conteúdo prático e instrucional, trazendo tópicos relevantes do dia a dia e um pouco da nossa experiência diária lidando com desenvolvimento de software.
                </p>
                <p>
                    O formato do conteúdo pode variar de pequenas dicas e tutoriais a vídeos com debates e discussões sobre determinados assuntos. Você vai perceber que o conteúdo é categorizado em níveis, esperamos que isso o ajude a determinar que tipo de conteúdo é mais relavante.
                </p>
                <p>
                    Estamos sempre disponíveis e interessados em ouvir o seu feedback. Entre em contato quando desejar: <a href="mailto:canaldevops@gmail.com?Subject=Ola%20CanalDevops" target="_top">canaldevops@gmail.com</a>.
                </p>
                <h2 class="card-title">Autores</h2>
                {% for author in site.authors %}
                <div class="row">
                    <div class="col-md-2"> <img src="{{ '/assets/img/author/' | append: author.profilephoto | relative_url }}" class="profile-img-small" /> </div>
                    <div class="col-md-6">
                        <h4 class="experience-title">{{ author.name }}</h4>
                        <p class="experience-desc">{{ author.bio }}</p>
                    </div>
                </div>
                <br>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-lg-4">
            {% include level_card.html %}
        </div>
    </div>
</div>
